@charset 'UTF-8';

.admin-book-container {
  width: 90%;
  margin: 60px auto;
  padding: 24px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: "Pretendard", sans-serif;
}

.admin-book-container h2 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #333;
  margin-bottom: 24px;
}

.upload-b{
  width: 200px;
  border-radius: 6px;
  font-size: 12px;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  background-color: #6a5acd;
  color: white;
  margin-bottom: 10px;

}

.admin-book-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
}

.admin-book-table th,
.admin-book-table td {
  padding: 30px 15px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.admin-book-table th {
  background-color: #f3edff;
  font-weight: 600;
  color: #333;
}

.book-thumbnail {
  width: 60px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #eee;
}

.book-input {
  width: 80px;
  padding: 4px 6px;
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.status-select {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.status-select:hover {
  border-color: #6a5acd;
}

.new-badge {
  background: #6a5acd;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 13px;
}

.action-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.action-btns button {
  padding: 5px;
  width: 100px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
}

.edit-b {
  background-color: #007bff;
  color: white;
}

.edit-b:hover {
  background-color: #0056b3;
}

.save-btn {
  background-color: #28a745;
  color: white;
}

.save-btn:hover {
  background-color: #1e7e34;
}

.cancel-b {
  background-color: #6c757d;
  color: white;
}

.cancel-b:hover {
  background-color: #565e64;
}

.delete-b {
  background-color: #dc3545;
  color: white;
}

.delete-b:hover {
  background-color: #b52a38;
}


.img-manage-btn {
  background-color: #8a2be2;
  color: #fff;

}

.img-manage-btn:hover {
  background-color: #6c1bbd;
}

.empty {
  text-align: center;
  padding: 30px;
  color: #777;
}
