@charset 'utf-8';

.admin-member-container {
  width: 80%;
  margin: 60px auto;
  padding: 24px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: "Pretendard", sans-serif;
}

.admin-member-container h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #333;
  text-align: center;
}

.admin-member-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
}

.admin-member-table th,
.admin-member-table td {
  padding: 12px 16px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}

.admin-member-table th {
  background-color: #f3edff;
  color: #444;
  font-weight: 600;
}

.admin-member-table tr:hover {
  background-color: #f9f9f9;
}

.action-bs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.action-bs button {
  flex:1;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s;
}

.edit-btn {
  background-color: #007bff;
  color: white;
  border: none;
}

.edit-btn:hover {
  background-color: #0056b3;
}

.save-btn {
  background-color: #28a745;
  color: white;
  border: none;
}

.save-btn:hover {
  background-color: #1e7e34;
}

.cancel-btn {
  background-color: #6c757d;
  color: white;
  border: none;
}

.cancel-btn:hover {
  background-color: #565e64;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
}

.delete-btn:hover {
  background-color: #b52a38;
}

.empty {
  text-align: center;
  color: #888;
  padding: 30px 0;
  font-style: italic;
}
