@charset 'UTF-8';

.categories-container{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 21px;
    background-color: #f5f4fb;
    border-radius: 5px;
    gap: 50px;
    font-size: 19px;
    font-weight: 500;
    color: rgb(86, 86, 86);
    position: absolute;
    top: 54px;
    z-index: 100;
    animation: fadeIn 0.2s ease-in;
}

@keyframes fadeIn {
        from { opacity: 0; transform: translateY(-5px); }
        to { opacity: 1; transform: translateY(0); }
    }

.parent-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.parent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.parent:hover, .child:hover{
    color: rgb(117, 77, 211);
}


.child-container{
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    animation: fadeIn 0.2s ease-in; 
    color: black; 
}